html {
  scroll-behavior: smooth;
}
  
.page-default {
  background-color: #2c2c2c;
  color: #eeeeee;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-default-light {
  background-color: #eeeeee;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}