.centered {
  display: flex;
  justify-content: center;
}

.centered-column {
  display: grid;
  justify-content: center;
}

.centered-vertical {
  align-items: center;
}

.cursor-point {
  cursor: pointer;
}

.font-default {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  font-size: calc(2rem + 2vmin);
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

img {
  display: flex;
  max-height: 100%;
  max-width: 100%;
}

.margin-0 {
  margin: 0px;
}

.reset-size {
  height: auto;
  max-height: auto;
  max-width: auto;
  min-height: auto;
  min-width: auto;
  width: auto;
}

.rounded {
  border-radius: 50%;
}

.rounded-half {
  border-radius: 25%;
}

.shadow {
  box-shadow: 0px 0px 10px #00000080;
}

.white {
  color: #ffffff;
}

.width-full {
  display: flex;
  width: 100%;
}

.wrap-pieces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}