footer.inner {
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  font-size: calc(1rem + 2vmin);
  height: 6vh;
  justify-content: center;
  margin: auto;
}

footer.outer {
  background-color: transparent;
  display: block;
  width: 100%;
  z-index: 100;
}

.navbar-links {
  color: #000000;
  display: flex;
  gap: 4vw;
  text-decoration: none;
}

/* Mobile Adjustments */
@media (max-width: 900px) {

}