.homepage {
  background-color: #262626;
  color: #eeeeee;
}

img.social-button {
  cursor: pointer;
  max-width: 2rem;
  min-width: 4dvmin;
}

.homepage-logo {
  pointer-events: none;
  width: 30dvmin;
}

@media (prefers-reduced-motion: no-preference) {
  .homepage-logo {
    animation: HomePage-logo-spin infinite 20s linear;
  }
}

@keyframes HomePage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-profile {
  align-items: center;
  display: flex;
  height: 90dvh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 60dvw;
}

.homepage-profile-text {
  display: flex;
  font-size: calc(1rem + 2vmin);
  justify-content: center;
  width: 30dvmin;
}

.homepage-projects {
  min-height: 100dvh;
}

.socials {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
