.bounded {
  margin: auto;
  width: 65vw;
}

.column-left {
  bottom: 10vh;
  justify-items: center;
  height: fit-content;
  padding: 5%;
  position: sticky;
  top: 10vh;
}

.column-right {
  height: auto;
  justify-items: center;
  padding: 5%;
}

.cursor {
  opacity: 1;
  text-decoration: blink;
  animation: blinker 1.2s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.font-large {
  font-size: 1.6rem;
}

.font-medium {
  font-size: 1.2rem;
}

.font-small {
  font-size: 0.8rem;
}

.font-title {
  font-size: 2.4rem;
}

.home {
  background-color: #282c34;
  white-space: pre-wrap;
  width: 100%;
}

.link-unstyle {
  text-decoration: none;
}

.min-height {
  min-height: 10vh;
}

.newline {
  display: flex;
}

.output {
  display: flex;
}

p {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.segment-inner {
  align-items: center;
  background-color: #ffffff;
  display: grid;
  gap: 2rem;
  grid-template-columns: 0.25fr 0.75fr;
  height: fit-content;
  margin: auto;
  padding: 2%;
  padding-bottom: 4%;
  padding-top: 4%;
  position: relative;
  width: 70%;
}

.segment-outer {
  background-color: transparent;
  display: block;
}

.spacer {
  background-color: transparent;
  height: 10vh;
}

.terminal {
  background-color: #1a1a28;
  color: #ffffff;
  display: block;
  height: fit-content;
  width: 100%;
}

.terminal-label {
  background-color: #ffffff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #1a1a28;
  display: flex;
  font-size: 1.6rem;
  height: fit-content;
  justify-content: center;
  width: 100%;
}

.terminal-main {
  background-color: #1a1a28;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  width: 100%;
}



::-webkit-scrollbar {
  height: 0.5rem; /*horizontal bar*/
  width: 0.5rem; /*vertical bar*/
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #999999;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}



/* Thin Adjustments */
@media (max-width: 1200px) {
  .bounded {
    width: 80vw;
  }
}



/* Mobile Adjustments */
@media (max-width: 800px) {
  .bounded {
    width: 90vw;
  }
}



/* Colors */
.black {
  color: #000000;
}

.blue {
  color: #0000ff;
}

.blue-brighter {
  color: #2088ff;
}

.cyan {
  color: #00ffff;
}

.green {
  color: #00ff00;
}

.linkedin {
  color: #0274b3;
}

.magenta {
  color: #ff00ff;
}

.red {
  color: #ff0000;
}

.yellow {
  color: #ffff00;
}

.white {
  color: #ffffff;
}