.homepage-about {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-width: 60vw;
}

.homepage-face {
  padding: 1vmin;
  pointer-events: none;
  width: 30vmin;
}

.homepage-profile {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-width: 60vw;
}

.homepage-profile-text {
  color: #bbbbbb;
  display: flex;
  font-size: calc(1rem + 2vmin);
  height: 1vh;
  justify-content: center;
  padding: 2px;
  text-align: center;
  width: 40vmin;
}

.homepage-profile-name-text {
  display: flex;
  font-size: calc(2rem + 2vmin);
  height: 1vh;
  justify-content: center;
  padding-bottom: 5px;
  text-align: center;
  width: 40vmin;
}

@media all and (max-width: 60em) {
  .homepage-face {
    display: block;
    padding: 0;
    pointer-events: none;
    margin: auto;
    min-width: 50vmin;
  }

  .homepage-profile {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    padding-bottom: 25vh;
    padding-top: 25vh;
  }

  .homepage-profile-name-text {
    width: 100%;
  }

  .homepage-profile-text {
    width: 100%;
  }
}

.homepage-projects {
  min-height: 100vh;
}

img.social-button {
    cursor: pointer;
    max-width: 3rem;
    min-width: 5vmin;
  }

.socials {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 1vmin;
}
