.homepage {
  background-color: #222222;
  text-align: center;
}

.homepage-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .homepage-logo {
    animation: HomePage-logo-spin infinite 20s linear;
  }
}

@keyframes HomePage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-profile {
  align-items: center;
  background-color: #222222;
  color: #eeeeee;
  display: flex;
  font-size: calc(1rem + 2vmin);
  height: 90dvh;
  min-width: 50vw;
  justify-content: center;
}

.homepage-profile-text {
  width: 40vmin;
}

.homepage-projects {
  background-color: #222222;
  color: #eeeeee;
  min-height: 100dvh;
}
