.box {
  background-color: #282c34;
}

.column-left {
  bottom: 10vh;
  justify-items: center;
  height: fit-content;
  padding: 5%;
  position: sticky;
  top: 10vh;
}

.column-right {
  height: auto;
  justify-items: center;
  padding: 5%;
}

.home {
  background-color: #282c34;
}

.segment-inner {
  align-items: center;
  background-color: #ffffff;
  display: grid;
  gap: 2rem;
  grid-template-columns: 0.25fr 0.75fr;
  height: fit-content;
  margin: auto;
  padding: 2%;
  padding-bottom: 4%;
  padding-top: 4%;
  position: relative;
  width: 70%;
}

.segment-outer {
  background-color: transparent;
  display: block;
  padding-top: 6vh;
}

.spacer {
  background-color: transparent;
  height: 20vh;
}





.terminal {
  height: fit-content;
}






/* Thin Adjustments */
@media (max-width: 1200px) {
  .segment-inner {
    width: 80%;
  }
}


/* Mobile Adjustments */
@media (max-width: 900px) {
  .segment-inner {
    grid-template-columns: none;
    width: 90%;
  }
}