.navbar {
  align-items: center;
  background-color: #1e1e1e;
  display: flex;
  font-size: calc(1rem + 2vmin);
  height: 8dvh;
  justify-content: space-around;
}

.navbar-links {
  color: #eeeeee;
  display: flex;
  gap: 4dvw;
  text-decoration: none;
}

.navbar-title {
  color: #eeeeee;
  text-decoration: none;
}